# Application environment
NODE_ENV=development

# HTTP server port
PORT=4000
LOG_LEVEL=info
REQUEST_TIMEOUT_MS=15000
MAKES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/getallmakes?format=XML
VEHICLE_TYPES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId
DATABASE_PATH=./data/vehicles.db
MIGRATIONS_PATH=./drizzle
